.navbar{
    display: flex;
    justify-content: space-around;
}

.btn{
    border-radius: 15%;
}

.navbar_{
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.navbar_ .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar_ .logo a{
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.navbar_ .search-bar{
    display: flex;
    align-items: center;
}

.navbar_ .search-bar input{
    padding: 5px;
    border-radius: 5px;
    border-color: white;
}

.navbar_ .search-bar button{
    padding: 5px 10px;
    margin-left: 5px;
    border: none;
    background-color: white;
    color: blue;
    border-radius: 5px;
    cursor: pointer;
    border-color: white;
}

.add-button{
    margin-left: 10px;
    border-radius: 10px;
}