.add-page{
    display: flex;
    justify-content: center;
}

.add-form{
    width: 50em;
    background-color: white;
}

.form-group{
    margin: 15px;
}

.button{
    display: flex;
    justify-content: center;
}
